<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="javascript:;">Login Page</a>
    </div>
  </nav>
</header>

<main role="main">
  <section class="my-4">
    <div class="container">
      <h2>Login Form</h2>
    </div>
  </section>

  <section>
    <div class="container">
      <form method="post" (ngSubmit)="login()" [formGroup]="form">
        <div class="form-group">
          <label for="username">Username *</label>
          <p [ngClass]="{ 'has-error': isSubmitted && values.username.errors }">
            <input type="text" id="username" name="username"
                   class="form-control" placeholder="Username"
                   formControlName="username" required/>
          </p>
          <div *ngIf="isSubmitted && values.username.errors" class="help-block">
            <div *ngIf="values.username.errors.required">Username is required</div>
          </div>

        </div>

        <div class="form-group">
          <label for="password">Password *</label>
          <p [ngClass]="{ 'has-error': isSubmitted && values.password.errors }">
          <input type="password" id="password" name="password"
                 class="form-control" placeholder="Password"
                 formControlName="password" required/>
          </p>
          <div *ngIf="isSubmitted && values.password.errors" class="help-block">
            <div *ngIf="values.password.errors.required">Password is required</div>
          </div>
        </div>

        <div *ngIf="isSubmitted && !validLogin" class="help-block">
          <div>Invalid Credentials</div>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </section>
</main>
